/*
    Document   : css/yotfh.css
    Created on : 2014-04-02 09:20 PM
    Author     : paulbarrett
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
    Custom styles for yofth website
*/

@media (min-width: 1200px) { .row { margin-left: -20px; *zoom: 1; } .row:before, .row:after { display: table; line-height: 0; content: ""; } .row:after { clear: both; } [class*="span"] { float: left; min-height: 1px; margin-left: 20px; } .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; } .span12 { width: 940px; } .span11 { width: 860px; } .span10 { width: 780px; } .span9 { width: 700px; } .span8 { width: 620px; } .span7 { width: 540px; } .span6 { width: 460px; } .span5 { width: 380px; } .span4 { width: 300px; } .span3 { width: 220px; } .span2 { width: 140px; } .span1 { width: 60px; } .offset12 { margin-left: 980px; } .offset11 { margin-left: 900px; } .offset10 { margin-left: 820px; } .offset9 { margin-left: 740px; } .offset8 { margin-left: 660px; } .offset7 { margin-left: 580px; } .offset6 { margin-left: 500px; } .offset5 { margin-left: 420px; } .offset4 { margin-left: 340px; } .offset3 { margin-left: 260px; } .offset2 { margin-left: 180px; } .offset1 { margin-left: 100px; } }
 root {
    display: block;
}
body {
    background-color: #000;
    /*background: url('../img/background.png') #000 no-repeat fixed right top;*/
    /*background: url('../img/yotfh-gate.jpg') #000 no-repeat;*/
    /*font-family:"Franklin Gothic FS Medium Condensed", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", sans-serif;*/
    font-family: "HoundsRegular", serif;
    background-size: 100%;
}
em {
    font-family: "HoundsItalic", serif;
}
ul.menu {
    list-style:none;
    margin:none;
}
h4.gig-title {
    color:white;
}
@media screen and (max-width: 768px) {
    .main-title {
        padding: 0 10px;
    }
    h1{
        font-size: 6.8vw;
        font-family: "HoundsBold", serif;
    }
    h2 {
        font-size: 18px;
        font-family: "HoundsBold", serif;
    }
    h2.gig-title, h3 {
        font-size: 16px;
        font-family: "HoundsBold", serif;
    }
    h4.gig-title {
        font-size:14px;
        font-family: "HoundsBold", serif;
    }
    p {
        font-size:12px;
    }
    p small {
        font-size: 10px;
    }
    #header-title {
        height: 120px;
        background: url('../img/yotfh-header.png') transparent no-repeat 50% 50%;
        background-size: 100% auto;
    }
    ul.menu {
        top: 200px; 
    }
    
}

@media screen and (min-width:769px) {
  h1 {
        font-size: 3vw;
        font-family: "HoundsBold", serif;
    }
    h2 {
        font-size: 40px;
        font-family: "HoundsBold", serif;
    }
    h2.gig-title, h3 {
        font-size: 30px;
        font-family: "HoundsBold", serif;
    }

    h4.gig-title {
        font-size:20px;
        font-family: "HoundsBold", serif;
    }
    p {
        font-size:16px;
        line-height:1em;
    }
    p small {
        font-size: 12px;
        line-height: 1em;
    }
    #header-title {
        height: 300px;
        background: url('../img/yotfh-header.png') #000 no-repeat 50% 50%;
    }
    ul.menu {
        top: 230px;
    }    
    .desktop-top-margin {
        margin-top:30px;
    }

}

h1, h2, h3 {
    color: #ffffff;
    margin-top:10px;
}
h3 {
    letter-spacing:0em;
}
p {
    color:#fff;
}
p small {
}
.gig.date {
    color: cornflowerblue;  
}
.container.main-title {
    height: 300px;
}
ul.menu {
    margin:0;
}
ul.menu li {
    float:left;
    display: inline;
    color: #444;
    margin-right: 10px;
    font-size: 1.3vw;
}
ul.menu li.active {
    color:#fff;
}
.spacer {

}
@media screen and (max-width: 768px) {
    
    ul.menu li {
        font-size: 2.4vw;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 6px 6px;
    }
    
}
@media only screen and (max-width: 460px) {
  /*body {
    background: url('../img/background-phone.png') #000 no-repeat fixed right top;
  }*/
}
li > a {
    color:#eee;
}
li > a:hover, li > a:focus {
    color:#444;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #ddd;
    color: #444;
}
.row {
    margin:0;
}
div#contact {
  width:100%;
}
#contact-iframe {
    width: 100%;
}
#footer {
    
/*
width: 100%;
height: 40px;*/
background-color: #000;
    text-align:center;
}
#social {
    margin-top:14px;
}
#footer a {
    color: #444;
    text-decoration: underline;
}
.gig-date {
    border-radius:10px;
    background-color:#444;
}
/* At mobile resolutions, make footer scroll down with content */
@media only screen and (max-width: 460px) {
  #footer {
    /*position: relative;*/
    font-size: 0.7em;
  }
  div.tab-content {
    /*min-height: 200px;*/
  }
}
