/*
    Document   : css/yotfh.css
    Created on : 2014-04-02 09:20 PM
    Author     : paulbarrett
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
    Custom styles for yofth website
*/
 root {
    display: block;
}
body {
    background-color: #000;
    /*background: url('../img/background.png') #000 no-repeat fixed right top;*/
    /*background: url('../img/yotfh-gate.jpg') #000 no-repeat;*/
    /*font-family:"Franklin Gothic FS Medium Condensed", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", sans-serif;*/
    font-family: "HoundsRegular", serif;
    background-size: 100%;
}
em {
    font-family: "HoundsItalic", serif;
}
ul.menu {
    list-style:none;
    margin:none;
}
h4.gig-title {
    color:white;
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 30px;
        font-family: "HoundsBold", serif;
    }
    h2 {
        font-size: 24px;
        font-family: "HoundsBold", serif;
    }
    h2.gig-title, h3 {
        font-size: 20px;
        font-family: "HoundsBold", serif;
    }
    h4.gig-title {
        font-size:16px;
        font-family: "HoundsBold", serif;
    }
    p {
        font-size:16px;
    }
    p small {
        font-size: 12px;
    }
    #header-title {
        height: 250px;
        background: url('../img/yotfh-header.png') transparent no-repeat 50% 50%;
        background-size: 100% auto;
    }
    ul.menu {
        top: 200px; 
    }
    
}

@media screen and (min-width:769px) {
  h1 {
        font-size: 50px;
        font-family: "HoundsBold", serif;
    }
    h2 {
        font-size: 40px;
        font-family: "HoundsBold", serif;
    }
    h2.gig-title, h3 {
        font-size: 30px;
        font-family: "HoundsBold", serif;
    }

    h4.gig-title {
        font-size:20px;
        font-family: "HoundsBold", serif;
    }
    p {
        font-size:16px;
        line-height:1em;
    }
    p small {
        font-size: 12px;
        line-height: 1em;
    }
    #header-title {
        height: 300px;
        background: url('../img/yotfh-header.png') #000 no-repeat 50% 50%;
    }
    ul.menu {
        top: 230px;
    }    
    .desktop-top-margin {
        margin-top:30px;
    }

}

h1, h2, h3 {
    color: #ffffff;
    margin-top:10px;
}
h3 {
    letter-spacing:0em;
}
p {
    color:#fff;
}
p small {
}
.gig.date {
    color: cornflowerblue;  
}
.container.main-title {
    height: 300px;
}

ul.menu li {
    float:left;
    display: inline;
    color: #fff;
    margin-right: 10px;
    font-size: 36px;
    letter-spacing: -0.1em;
}
@media screen and (max-width: 768px) {
    
    ul.menu li {
        font-size: 16px;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 6px 6px;
    }
    
}
@media only screen and (max-width: 460px) {
  body {
    background: url('../img/background-phone.png') #000 no-repeat fixed right top;
  }
}
li > a {
    color:#eee;
}
li > a:hover, li > a:focus {
    color:#444;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #ddd;
    color: #444;
}
.row {
    margin:0;
}
div#contact {
  width:100%;
}
#contact-iframe {
    width: 100%;
}
#footer {
    
/*
width: 100%;
height: 40px;*/
background-color: #000;
    text-align:center;
}
#footer a {
    color: #444;
    text-decoration: underline;
}
/* At mobile resolutions, make footer scroll down with content */
@media only screen and (max-width: 460px) {
  #footer {
    /*position: relative;*/
    font-size: 0.7em;
  }
  div.tab-content {
    /*min-height: 200px;*/
  }
}
